<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="80c50f92ffef4de28162e0cab7312f70" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_80c50f92ffef4de28162e0cab7312f70 = echarts.init(
            document.getElementById('80c50f92ffef4de28162e0cab7312f70'), 'white', {renderer: 'canvas'});
        var option_80c50f92ffef4de28162e0cab7312f70 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "\u5546\u5bb6A",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 10,
            "data": [
                [
                    "\u6cb3\u9a6c",
                    36
                ],
                [
                    "\u87d2\u86c7",
                    135
                ],
                [
                    "\u8001\u864e",
                    55
                ],
                [
                    "\u5927\u8c61",
                    28
                ],
                [
                    "\u5154\u5b50",
                    20
                ],
                [
                    "\u718a\u732b",
                    76
                ],
                [
                    "\u72ee\u5b50",
                    113
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "scatter",
            "name": "\u5546\u5bb6B",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 10,
            "data": [
                [
                    "\u6cb3\u9a6c",
                    35
                ],
                [
                    "\u87d2\u86c7",
                    150
                ],
                [
                    "\u8001\u864e",
                    78
                ],
                [
                    "\u5927\u8c61",
                    26
                ],
                [
                    "\u5154\u5b50",
                    20
                ],
                [
                    "\u718a\u732b",
                    43
                ],
                [
                    "\u72ee\u5b50",
                    24
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        },
        {
            "type": "line",
            "name": "\u5546\u5bb6A",
            "connectNulls": false,
            "xAxisIndex": 1,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "\u8349\u8393",
                    68
                ],
                [
                    "\u8292\u679c",
                    30
                ],
                [
                    "\u8461\u8404",
                    95
                ],
                [
                    "\u96ea\u68a8",
                    60
                ],
                [
                    "\u897f\u74dc",
                    87
                ],
                [
                    "\u67e0\u6aac",
                    57
                ],
                [
                    "\u8f66\u5398\u5b50",
                    37
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u5546\u5bb6B",
            "connectNulls": false,
            "xAxisIndex": 1,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "\u8349\u8393",
                    115
                ],
                [
                    "\u8292\u679c",
                    86
                ],
                [
                    "\u8461\u8404",
                    132
                ],
                [
                    "\u96ea\u68a8",
                    86
                ],
                [
                    "\u897f\u74dc",
                    66
                ],
                [
                    "\u67e0\u6aac",
                    23
                ],
                [
                    "\u8f66\u5398\u5b50",
                    109
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5546\u5bb6A",
                "\u5546\u5bb6B"
            ],
            "selected": {
                "\u5546\u5bb6A": true,
                "\u5546\u5bb6B": true
            },
            "show": true,
            "left": "20%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        },
        {
            "data": [
                "\u5546\u5bb6A",
                "\u5546\u5bb6B"
            ],
            "selected": {
                "\u5546\u5bb6A": true,
                "\u5546\u5bb6B": true
            },
            "show": true,
            "right": "20%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u6cb3\u9a6c",
                "\u87d2\u86c7",
                "\u8001\u864e",
                "\u5927\u8c61",
                "\u5154\u5b50",
                "\u718a\u732b",
                "\u72ee\u5b50"
            ]
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 1,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u8349\u8393",
                "\u8292\u679c",
                "\u8461\u8404",
                "\u96ea\u68a8",
                "\u897f\u74dc",
                "\u67e0\u6aac",
                "\u8f66\u5398\u5b50"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 1,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u79bb\u6563\u56fe",
            "padding": 5,
            "itemGap": 10
        },
        {
            "text": "\u7ebf\u5f62\u56fe",
            "right": "5%",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "grid": [
        {
            "left": "55%",
            "containLabel": false
        },
        {
            "right": "55%",
            "containLabel": false
        }
    ]
};
        chart_80c50f92ffef4de28162e0cab7312f70.setOption(option_80c50f92ffef4de28162e0cab7312f70);
    </script>
</body>
</html>
