<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
<body>
    <style>.box { justify-content:center; display:flex; flex-wrap:wrap;  }; </style>
    <div class="box">
                <div id="f75668a7512b412087c3b1de579bfeb8" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_f75668a7512b412087c3b1de579bfeb8 = echarts.init(
            document.getElementById('f75668a7512b412087c3b1de579bfeb8'), 'white', {renderer: 'canvas'});
        var option_f75668a7512b412087c3b1de579bfeb8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u5c0f\u7c73",
                    "value": 137
                },
                {
                    "name": "\u4e09\u661f",
                    "value": 44
                },
                {
                    "name": "\u534e\u4e3a",
                    "value": 143
                },
                {
                    "name": "\u82f9\u679c",
                    "value": 122
                },
                {
                    "name": "\u9b45\u65cf",
                    "value": 45
                },
                {
                    "name": "VIVO",
                    "value": 105
                },
                {
                    "name": "OPPO",
                    "value": 28
                }
            ],
            "radius": [
                "30%",
                "75%"
            ],
            "center": [
                "25%",
                "50%"
            ],
            "roseType": "radius",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u5c0f\u7c73",
                    "value": 38
                },
                {
                    "name": "\u4e09\u661f",
                    "value": 23
                },
                {
                    "name": "\u534e\u4e3a",
                    "value": 137
                },
                {
                    "name": "\u82f9\u679c",
                    "value": 112
                },
                {
                    "name": "\u9b45\u65cf",
                    "value": 71
                },
                {
                    "name": "VIVO",
                    "value": 46
                },
                {
                    "name": "OPPO",
                    "value": 96
                }
            ],
            "radius": [
                "30%",
                "75%"
            ],
            "center": [
                "75%",
                "50%"
            ],
            "roseType": "area",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5c0f\u7c73",
                "\u4e09\u661f",
                "\u534e\u4e3a",
                "\u82f9\u679c",
                "\u9b45\u65cf",
                "VIVO",
                "OPPO"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "Pie-\u73ab\u7470\u56fe\u793a\u4f8b",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_f75668a7512b412087c3b1de579bfeb8.setOption(option_f75668a7512b412087c3b1de579bfeb8);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
