<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="3d3d034e7ab047cc9d25fae9c64de6d5" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_3d3d034e7ab047cc9d25fae9c64de6d5 = echarts.init(
            document.getElementById('3d3d034e7ab047cc9d25fae9c64de6d5'), 'white', {renderer: 'canvas'});
        var option_3d3d034e7ab047cc9d25fae9c64de6d5 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u5546\u5bb6A",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "data": [
                75,
                89,
                80,
                38,
                36,
                61,
                83
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u5546\u5bb6B",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "data": [
                20,
                144,
                127,
                29,
                138,
                122,
                150
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "line",
            "name": "\u5546\u5bb6A",
            "connectNulls": false,
            "xAxisIndex": 1,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "\u54c8\u58eb\u5947",
                    83
                ],
                [
                    "\u8428\u6469\u8036",
                    22
                ],
                [
                    "\u6cf0\u8fea",
                    146
                ],
                [
                    "\u91d1\u6bdb",
                    37
                ],
                [
                    "\u7267\u7f8a\u72ac",
                    83
                ],
                [
                    "\u5409\u5a03\u5a03",
                    34
                ],
                [
                    "\u67ef\u57fa",
                    123
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u5546\u5bb6B",
            "connectNulls": false,
            "xAxisIndex": 1,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "\u54c8\u58eb\u5947",
                    105
                ],
                [
                    "\u8428\u6469\u8036",
                    118
                ],
                [
                    "\u6cf0\u8fea",
                    148
                ],
                [
                    "\u91d1\u6bdb",
                    48
                ],
                [
                    "\u7267\u7f8a\u72ac",
                    122
                ],
                [
                    "\u5409\u5a03\u5a03",
                    140
                ],
                [
                    "\u67ef\u57fa",
                    109
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5546\u5bb6A",
                "\u5546\u5bb6B"
            ],
            "selected": {
                "\u5546\u5bb6A": true,
                "\u5546\u5bb6B": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        },
        {
            "data": [
                "\u5546\u5bb6A",
                "\u5546\u5bb6B"
            ],
            "selected": {
                "\u5546\u5bb6A": true,
                "\u5546\u5bb6B": true
            },
            "show": true,
            "top": "48%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u53ef\u4e50",
                "\u96ea\u78a7",
                "\u6a59\u6c41",
                "\u7eff\u8336",
                "\u5976\u8336",
                "\u767e\u5a01",
                "\u9752\u5c9b"
            ]
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 1,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u54c8\u58eb\u5947",
                "\u8428\u6469\u8036",
                "\u6cf0\u8fea",
                "\u91d1\u6bdb",
                "\u7267\u7f8a\u72ac",
                "\u5409\u5a03\u5a03",
                "\u67ef\u57fa"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 1,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Grid-Bar",
            "padding": 5,
            "itemGap": 10
        },
        {
            "text": "Grid-Line",
            "top": "48%",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "grid": [
        {
            "left": "10%",
            "bottom": "60%",
            "containLabel": false
        },
        {
            "left": "10%",
            "top": "60%",
            "containLabel": false
        }
    ]
};
        chart_3d3d034e7ab047cc9d25fae9c64de6d5.setOption(option_3d3d034e7ab047cc9d25fae9c64de6d5);
    </script>
</body>
</html>
