<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="dca4960c2b4546e19aff3fa2ba6b28bd" class="chart-container" style="width:1200px; height:450px;"></div>
    <script>
        var chart_dca4960c2b4546e19aff3fa2ba6b28bd = echarts.init(
            document.getElementById('dca4960c2b4546e19aff3fa2ba6b28bd'), 'white', {renderer: 'canvas'});
        var option_dca4960c2b4546e19aff3fa2ba6b28bd = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "Oracle 11g",
                    "value": 1
                },
                {
                    "name": "Oracle 19C",
                    "value": 1
                },
                {
                    "name": "Oracle 9i",
                    "value": 2
                }
            ],
            "radius": [
                "60",
                "40%"
            ],
            "center": [
                "33%",
                "80%"
            ],
            "label": {
                "show": true,
                "position": "outside",
                "margin": 8,
                "formatter": "{hr|}\n {b|{b}: }{c}  {per|{d}%}  ",
                "backgroundColor": "#eee",
                "borderColor": "#aaa",
                "borderWidth": 1,
                "borderRadius": 5,
                "rich": {
                    "abg": {
                        "backgroundColor": "#e3e3e3",
                        "width": "100%",
                        "align": "right",
                        "height": 22,
                        "borderRadius": [
                            4,
                            4,
                            0,
                            0
                        ]
                    },
                    "hr": {
                        "borderColor": "#aaa",
                        "width": "100%",
                        "borderWidth": 1,
                        "height": 0
                    },
                    "b": {
                        "fontSize": 11,
                        "lineHeight": 25
                    },
                    "per": {
                        "color": "#eee",
                        "backgroundColor": "#334455",
                        "padding": [
                            2,
                            4
                        ],
                        "borderRadius": 2
                    }
                }
            },
            "xAxisIndex": 0,
            "yAxisIndex": 0
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "AIX 7.1",
                    "value": 1
                },
                {
                    "name": "Redhat7.9 x64",
                    "value": 1
                },
                {
                    "name": "windows2009 server",
                    "value": 10
                },
                {
                    "name": "CentOS Linux release 8",
                    "value": 1
                },
                {
                    "name": "RedHat 6.9 X64",
                    "value": 1
                },
                {
                    "name": "Centos 8.0",
                    "value": 1
                },
                {
                    "name": "SUSE Linux 12",
                    "value": 1
                },
                {
                    "name": "Others",
                    "value": 1
                },
                {
                    "name": "Windows Server 2012 DC",
                    "value": 1
                }
            ],
            "radius": [
                "60",
                "40%"
            ],
            "center": [
                "33%",
                "28%"
            ],
            "label": {
                "show": true,
                "position": "outside",
                "margin": 8,
                "formatter": "{hr|}\n {b|{b}: }{c}  {per|{d}%}  ",
                "backgroundColor": "#eee",
                "borderColor": "#aaa",
                "borderWidth": 1,
                "borderRadius": 5,
                "rich": {
                    "abg": {
                        "backgroundColor": "#e3e3e3",
                        "width": "100%",
                        "align": "right",
                        "height": 22,
                        "borderRadius": [
                            4,
                            4,
                            0,
                            0
                        ]
                    },
                    "hr": {
                        "borderColor": "#aaa",
                        "width": "100%",
                        "borderWidth": 1,
                        "height": 0
                    },
                    "b": {
                        "fontSize": 11,
                        "lineHeight": 25
                    },
                    "per": {
                        "color": "#eee",
                        "backgroundColor": "#334455",
                        "padding": [
                            2,
                            4
                        ],
                        "borderRadius": 2
                    }
                }
            },
            "xAxisIndex": 1,
            "yAxisIndex": 1
        }
    ],
    "legend": [
        {
            "data": [
                "Oracle 11g",
                "Oracle 19C",
                "Oracle 9i"
            ],
            "selected": {},
            "show": true,
            "left": "72%",
            "top": "65%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        },
        {
            "data": [
                "AIX 7.1",
                "Redhat7.9 x64",
                "windows2009 server",
                "CentOS Linux release 8",
                "RedHat 6.9 X64",
                "Centos 8.0",
                "SUSE Linux 12",
                "Others",
                "Windows Server 2012 DC"
            ],
            "selected": {},
            "show": true,
            "left": "72%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "subtext": "[\u6570\u636e\u5e93\u7c7b\u578b\u997c\u56fe]",
            "top": "60%",
            "padding": 5,
            "itemGap": 10
        },
        {
            "subtext": "[\u7cfb\u7edf\u7248\u672c\u6bd4\u4f8b\u997c\u56fe]",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "grid": [
        {
            "top": "20%",
            "containLabel": false
        },
        {
            "top": "70%",
            "containLabel": false
        }
    ]
};
        chart_dca4960c2b4546e19aff3fa2ba6b28bd.setOption(option_dca4960c2b4546e19aff3fa2ba6b28bd);
    </script>
</body>
</html>
