<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
<body>
    <style>.box { justify-content:center; display:flex; flex-wrap:wrap;  }; </style>
    <div class="box">
                <div id="67d8f43dcc4142e589b580a04acb898e" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_67d8f43dcc4142e589b580a04acb898e = echarts.init(
            document.getElementById('67d8f43dcc4142e589b580a04acb898e'), 'white', {renderer: 'canvas'});
        var option_67d8f43dcc4142e589b580a04acb898e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u53ef\u4e50",
                    "value": 111
                },
                {
                    "name": "\u96ea\u78a7",
                    "value": 140
                },
                {
                    "name": "\u6a59\u6c41",
                    "value": 111
                },
                {
                    "name": "\u7eff\u8336",
                    "value": 136
                },
                {
                    "name": "\u5976\u8336",
                    "value": 92
                },
                {
                    "name": "\u767e\u5a01",
                    "value": 94
                },
                {
                    "name": "\u9752\u5c9b",
                    "value": 45
                }
            ],
            "radius": [
                "30%",
                "75%"
            ],
            "center": [
                "25%",
                "50%"
            ],
            "roseType": "radius",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u53ef\u4e50",
                    "value": 133
                },
                {
                    "name": "\u96ea\u78a7",
                    "value": 115
                },
                {
                    "name": "\u6a59\u6c41",
                    "value": 42
                },
                {
                    "name": "\u7eff\u8336",
                    "value": 121
                },
                {
                    "name": "\u5976\u8336",
                    "value": 29
                },
                {
                    "name": "\u767e\u5a01",
                    "value": 52
                },
                {
                    "name": "\u9752\u5c9b",
                    "value": 104
                }
            ],
            "radius": [
                "30%",
                "75%"
            ],
            "center": [
                "75%",
                "50%"
            ],
            "roseType": "area",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u53ef\u4e50",
                "\u96ea\u78a7",
                "\u6a59\u6c41",
                "\u7eff\u8336",
                "\u5976\u8336",
                "\u767e\u5a01",
                "\u9752\u5c9b"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "Pie-\u73ab\u7470\u56fe\u793a\u4f8b",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_67d8f43dcc4142e589b580a04acb898e.setOption(option_67d8f43dcc4142e589b580a04acb898e);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
